body{
    background-image: url('https://gifdb.com/images/high/beautiful-night-anime-scenery-rs6wh5fhryg13e58.gif');
    background-size: cover;
    text-decoration-color:azure;
}

#a {
    color: white;
}